<h1>Guns Database</h1>
<img src="http://backgroundrecords.org/wp-content/uploads/2016/11/gun-banner.jpg">
<p>This website contains database for handguns, rifles, and gun accessories.  To view each database, please click on the following links below: </p>

<a href="http://flip1.engr.oregonstate.edu:7004/handguns">Handguns</a> - guns that are relatively short in length and designed for use by one hand such as  pistols or revolvers.
<br><br>

<a href="http://flip1.engr.oregonstate.edu:7004/rifles">Rifles</a> - guns that are relatively long in length, designed for use by two hands, and fired from shoulder level.  Rifles have longer range than handguns.
<br><br>

<a href="http://flip1.engr.oregonstate.edu:7004/ammunition">Ammunition</a> - projectiles that are fired from handguns and rifles.  These are the bullets that come in different calibers (sizes).
<br><br>

<a href="http://flip1.engr.oregonstate.edu:7004/accessories">Accessories</a> - gun parts such as scopes, sights, grips, etc. that can be attached to a gun and serve a special purpose that amplifies the gun’s functionality. 
<p>{{results}}</p>